#toggle{
    width: 100%;
    margin: auto;
    height: 50px;
    display: None;  /*this set's the divison to a hidden state by default*/
    background-color: rgba(248,25,34,0.8);
  }
  
  #toggle-button{
    width: 100%;
    margin: 5px;
    height: 25px;
    padding: 5px;
    color: rgba(25,25,67,0.5);
  }