.Logo {
  height: 10vh;
  margin: 0 1vw;
  display: flex;
 } 


[data-pokemon="charmander"] {
    .Logo {
        fill: #E83900;
     }
}
  
[data-pokemon="pikachu"] {  
    .Logo {
        fill: #9D5101;
        stroke: #9D5101;
     }
}
  
[data-pokemon="bulbasaur"] {
    .Logo {
        fill: #377755;
     }
}
  
[data-pokemon="squirtle"] {   
    .Logo {
        fill: #A16B2F;
     }
}

