.Home {
  background-image: url("../imagens/grass-wallpaper.jpg");
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15vh;
  
}

.inicial-home img{
  border: solid 2px #ffffff;
  margin: 10px;
  transition-duration: 0.5s;
}

.inicial-home :hover {
  transform: scale(1.1);
}

.pokemon {
  display: flex;
}